{% extends 'main/base.html' %} {% block content %} {% load static %} {% load crispy_forms_tags %}

<div class="page-wrapper">
  <div class="border-wrapper">
    <div class="wrapper">
      <div class="input-box">
        <div class="tweet-area">
          <form id="create-post-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="post-create-btn">Post</button>
          </form>
        </div>
        <div class="input-card-footer">
          <span class="counter">100</span>
        </div>
      </div>
      <div class="infinite-container">
        {% for post in posts %}
        <div class="post-wrapper infinite-item" id="post-{{post.id}}">
          <div
            class="main-page-post-wrapper"
            style="cursor: pointer"
            onclick="location.href='/post/{{ post.id }}';"
          >
            <a class="PLACEHOLDER" href="profile/{{post.author.username}}"
              ><img
                class="post-image"
                src="{{post.author.profile.profile_picture.url}}"
            /></a>
            <div class="name-date">
              <a class="post-nickname" href="profile/{{post.author.username}}">
                {% if post.author.username == post.author.profile.display_name%} 
                {{post.author.username}} 
                {% else %}
                {{post.author.profile.display_name}}
                <span id="greyed-out-tag-name-span">@{{post.author.username}}</span>
                {% endif %}
              </a>
              <small class="PLACEHOLDER">{{post.date_posted}}</small>
              <p class="post-content">{{post.content}}</p>
            </div>
            {% if post.image %}
            <div class="post-image-container">
              <img src="{{ post.image.url }}" class="post-image-attachment">
            </div>
            {% endif %}
          </div>
          <div class="post-footer">
            <div class="interactions-container">
              <div class="like-button-container">
                <i
                  class="button-like-post fa-regular fa-heart"
                  {% if user.is_authenticated %}
                  onclick="changePostLikeStatus({{post.id}})"
                  {% else %}
                  onclick="showModal()"
                  {% endif %}
                ></i>
                <span class="interactions-count">{{post.likes_amount}}</span>
              </div>
              <a href={% url 'post-detail' post.id %}> 
                <i class="button-like-post fa-regular fa-comments"></i>
                <span class="interactions-count"> {{post.comments_amount}}</span>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% if is_paginated %} {% if page_obj.has_next %}
      <div class="row">
        <a
          class="infinite-more-link"
          href="?page={{ page_obj.next_page_number }}"
        ></a>
      </div>
      {% endif %} {% endif %}
    </div>
  </div>
  <div class="overlay invisible" onclick="closeModal()"></div>


  <script src="{% static '/main/js/jquery-2.2.4.min.js' %}"></script>
  <script src="{% static '/main/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/main/js/infinite.min.js' %}"></script>
  <script src="{% static '/main/js/infiniteScroll.js' %}"></script>

</div>
{% endblock content %}