{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'users/users.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <title>Signup Page</title>
  </head>
  <body>
    <div id="messages-box">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="formContent">
      <div class="toplinks">
        <a href="{% url 'login' %}">
          <h2 class="formLabel">Login</h2>
        </a>
        <a href="{% url 'signup' %}">
          <h2 class="formLabel">Signup</h2>
        </a>
      </div>

      <form method="POST">
        {% csrf_token %}
        <div>
          <label for="id_username">Username</label>
          <div>
            {{ form.username }}
          </div>
        </div>

        <div class="id_email">
          <label class="email" for="email">E-mail</label>
          <div>
            {{ form.email }}
          </div>
        </div>

        <div>
          <label for="id_password1">Password</label>
          <div>
            {{ form.password1 }}
          </div>
        </div>

        <div>
          <label for="id_password2">Confirm Password</label>
          <div>
            {{ form.password2 }}
          </div>
        </div>

        <button type="submit" class="" id="signup-button">Signup</button>
      </form>
    </div>
  </body>
</html>
