{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    <title>Main homepage</title>
</head>
<body>
    <div class="sidebarContent">
        <nav><a href="">Home</a><a href="">Notifications</a><a href="">Settings</a><a href="">Profile</a></nav>
    </div>

<div class="wrapper">
    <div class="input-box">
        <div class="input-area">
            <div class="input editable" contenteditable="true" spellcheck="false"></div>
            <div class="input readonly" contenteditable="true" spellcheck="false"></div>
        </div>
    </div>
    <div class="input-card-footer">
        <span class="counter">100</span>
        <button>Post</button>
    </div>
</div>
</body>
</html>