{% extends 'main/base.html' %}
{% block content %}

<div class="page-wrapper">
  <div class="border-wrapper">
      <div class="wrapper">
          <div class="input-box">
            <div class="tweet-area">
              <form class='' method='POST' action='/post/create'>
                {% csrf_token %}
                <input type='hidden' value='/' name='next' />
                <textarea class='' name='content' placeholder="What's happening?"></textarea>
                <button>Post</button>
              </form>
            </div>
          <div class="input-card-footer">
            <span class="counter">100</span>
            </form>
          </div>
      </div>
  </div>
  {% for post in posts %}
  <article class="">
    <img class="" src="{{ post.author.profile.image.url }}">
    <div class="">
      <div class="">
        <a class="" href="#">{{ post.author }}</a>
        <small class="">{{ post.date_posted|date:"F d, Y" }}</small>
      </div>
      <p class="">{{ post.content }}</p>
    </div>
  </article>

  {% endfor %}
</div>
{% endblock content %}