{% extends 'main/base.html' %} {% block content %} {% load static %}
<div class="page-wrapper">
  <div class="profile-bg"></div>
  <div class="profile-wrapper">
    <div class="profile-left-part">
      <img class="profile_avatar" src="{{ profile.profile_picture.url }}" />

      <h3 class="profile_display_name">{{ profile.display_name }}</h3>
      <h3 class="profile_user_username">
        <span>@</span>{{ profile.user.username }}
      </h3>
      <div class="follow-count">
        <h3 class="following">
          <span class="following-span">250</span>
          <span class="only-text">FOLLOWING</span>
        </h3>
        <h3 class="followers">
          <span class="followers-span">450</span>
          <span class="only-text">FOLLOWERS</span>
        </h3>
      </div>
    </div>

    <div class="profile-right-part">
      {% if user.pk == profile.user.pk %}
      <button class="edit-btn">Edit Profile</button>
      {% endif %}
      <button class="follow-btn">Follow</button>
    </div>
  </div>
  <div class="infinite-container">
    {% for post in user_posts %}
    <div class="post-wrapper infinite-item" onclick="location.href=' ';" style="cursor: pointer; margin-top: 20px;">
  
    <a class="" href="/profile/{{ post.author.username }}">    <img class="post-image" src="{{ post.author.profile.profile_picture.url }}"></a>
        <div class="name-date">
          <a class="post-nickname" href="/profile/{{ post.author.username }}">{{ post.author }}</a>
          <small class="">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <p class="post-content" >{{ post.content }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}