{% extends 'main/base.html' %} {% block content %}
<div class="page-wrapper">
  <div class="profile-bg"></div>
  <div class="profile-wrapper">
    <div class="profile-left-part">
      <img class="profile_avatar" src="{{ profile.profile_picture.url }}" />

      <h3 class="profile_display_name">{{ profile.display_name }}</h3>
      <h3 class="profile_user_username">
        <span>@</span>{{ profile.user.username }}
      </h3>
      <div class="follow-count">
        <h3 class="following">
          <span class="following-span">250</span>
          <span class="only-text">FOLLOWING</span>
        </h3>
        <h3 class="followers">
          <span class="followers-span">450</span>
          <span class="only-text">FOLLOWERS</span>
        </h3>
      </div>
    </div>

    <div class="profile-right-part">
      <button class="follow-btn">Follow</button>
    </div>
  </div>
</div>
{% endblock content %}
