{% extends 'main/base.html' %} {% block content %}
<div class="page-wrapper">
  <div class="profile-bg"></div>
  <div class="profile-wrapper">
    <div class="profile-left-part">
      <img class="profile_avatar" src="{{ profile.profile_picture.url }}" />

      <h3 class="profile_display_name">{{ profile.display_name }}</h3>
      <h3 class="profile_user_username">
        <span>@</span>{{ profile.user.username }}
      </h3>
      <div class="follow-count">
        <h3 class="following">
          <span class="following-span">250</span>
          <span class="only-text">FOLLOWING</span>
        </h3>
        <h3 class="followers">
          <span class="followers-span">450</span>
          <span class="only-text">FOLLOWERS</span>
        </h3>
      </div>
    </div>

    <div class="profile-right-part">
      {% if user.pk == profile.user.pk %}
      <button class="edit-btn">Edit Profile</button>
      {% endif %}
      <button class="follow-btn">Follow</button>
    </div>
  </div>
</div>
<div class="infinite-container">
  {% for post in user_posts %}
  <div class="post-wrapper infinite-item" onclick="location.href=' ';" style="cursor: pointer;">

  <a class="" href="profile/{{ post.author.username }}">    <img class="post-image" src="{{ post.author.profile.profile_picture.url }}"></a>
      <div class="name-date">
        <a class="post-nickname" href="profile/{{ post.author.username }}">{{ post.author }}</a>
        <small class="">{{ post.date_posted|date:"F d, Y" }}</small>
      </div>
      <p class="post-content" >{{ post.content }}</p>
    
    </div>
  {% endfor %}
</div>
{% if page_obj.has_next %}
<div class="row">
  <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"> 
</div>
{% endif %}

{% load static %}
<script src="{% static '/main/js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static '/main/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static '/main/js/infinite.min.js' %}"></script>
<script>
var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    handler: function(direction) {
    
},
offset: 'bottom-in-view',
onBeforePageLoad: function () {
$('.spinner-border').show();
},
onAfterPageLoad: function () {
$('.spinner-border').hide();
}

    
});
</script>
{% endblock content %}
